/*sticky footer styles*/
/*https://v4-alpha.getbootstrap.com/examples/sticky-footer/sticky-footer.css*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  text-align: center;
  background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
}
/*sticky footer styles*/

html, body {
  color: #F2FFFF;
  background: url(background.png) repeat scroll 0% 0%;
  font-family: Verdana, Arial, Geneva, Tahoma, sans-serif;
  font-size: 12pt;
}

h1, h2, h3, h4 {
  color: #f2ffff;
  font-style: italic;
}
.width100 {
  width: 100%;
  margin-bottom: 10px;
}

.pgBody {
  padding: 10px;
  border-radius: 4px;
  transition: background-color .3s ease-in;
  background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
}

.headshot {
  border-radius: 4px;
}

.slideshowImg {
  width: 250px !important;
  height: 250px;
}

#divMain {
  padding-bottom: 20px;
}

#phoneNum {
  color: #F2FFFF;
}

.insList {
  list-style-type: none;
}

#dirBox {
  height: "100%";
  overflow-y: "scroll" !important;
}

#dirBtn {
  margin-top: 5px;
}

.adp-directions {
  margin: 0 auto;
}

.navBrandCust {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}