/*sticky footer styles*/
/*https://v4-alpha.getbootstrap.com/examples/sticky-footer/sticky-footer.css*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  text-align: center;
  background-color: #E95420;
}
/*sticky footer styles*/

html, body {
  color: #F2FFFF;
  background: url(background.jpg) no-repeat center center fixed; 
  background-size: cover;
}

.width100 {
  width: 100%;
  margin-bottom: 10px;
}

.pgBody {
  padding: 10px;
  border-radius: 4px;
  background-color: #E95420;
}

.headshot {
  border-radius: 4px;
}

.slideshowImg {
  width: 250px !important;
  height: 250px;
}

#divMain {
  padding-bottom: 20px;
}

#phoneNum {
  color: #F2FFFF;
}

.insList {
  list-style-type: none;
}

#dirContainer {
  margin-top: 20px
}